.description {
    font-size: 14px;
    justify-content: center;
    text-align: center;
    margin: 0em 0.5em 0em 0.5em;
}

.hosted-by {
    justify-content: center;
    padding-top: 5px;
    color: #808080;
}

.hosts {
    margin: 0em 0.5em 0.5em 0.5em;   
    font-size: 12px;
    justify-content: center;
}

.host {
    width: auto;
    padding: 3px 5px 3px 5px;
}

.host img{
    padding-right: 4px;
}

